bentoml #for deployment
torchvision
joblib
tqdm #shows progress bar
pip-chill #helps in matching the version of the libraries supported with specific version of python
wincertstore
dvc #for datamanagement
mlflow #to track every experiment
ipykernel
numpy 
pandas
seaborn 
pytest #for usecases
tox #for testcases
flake8 
mypy
black #to check linting
-e .
#to install local Packages


